Repository layer5io/docs, pull requests merged in 2024-03, with the labels that each got.

#196 added notification off docs
  content/en/meshmap/designer/comments/_index.md
  content/en/meshmap/designer/comments/comment-notificationBell.png
Labels: pr/draft, component/meshmap-docs

#220 Published slides to Layer5 docs
  content/en/cloud/catalog/_index.md
  content/en/cloud/catalog/images/Slide51.svg
  content/en/cloud/getting-started/getting-started-with-layer5-account.md
  content/en/cloud/getting-started/images/Slide40.svg
  content/en/cloud/getting-started/images/Slide49.svg
  content/en/cloud/getting-started/support.md
  content/en/cloud/identity/users/Slide41.svg
  content/en/cloud/identity/users/user-management.md
  content/en/cloud/tutorials/sharing-a-workspace.md
Labels: component/cloud-docs

#176 New feature: A next/previous button for the docs section
  assets/scss/_elements_project.scss
  content/en/cloud/overview/_index.md
  content/en/meshmap/tutorials/_index.md
  content/en/meshmap/tutorials/collaborative-editing.md
  content/en/meshmap/tutorials/publishing-to-catalog.md
  layouts/docs/baseof.html
  layouts/docs/single.html
  layouts/partials/pager.html
Labels: component/cloud-docs, component/meshmap-docs

#223 Restructure of roles and permission pages
  content/en/cloud/identity/organizations/provider-admin.md
  content/en/cloud/reference/organization-permissions.md
  content/en/cloud/reference/team-permissions.md
  content/en/cloud/security/roles/_index.md
  content/en/cloud/security/roles/organization-roles.md
  content/en/cloud/security/roles/provider-admin-roles.md
  content/en/cloud/security/roles/team-roles.md
Labels: component/cloud-docs

#225 Add workflow and keys spreadsheet
  .github/workflows/generate-keys.yml
  content/en/cloud/reference/_index.md
  content/en/cloud/reference/api-reference.md
  content/en/cloud/reference/default-permissions.md
  content/en/cloud/reference/organization-permissions.md
  content/en/cloud/reference/team-permissions.md
  layouts/shortcodes/csvtable.html
  static/data/csv/keys.csv
Labels: component/cloud-docs

#231 Add docs for sharing design and managing access permissions
  content/en/meshmap/designer/share-resource/_index.md
Labels: component/meshmap-docs

#233 Fixed Typo
  content/en/meshmap/concepts/_index.md
Labels: component/meshmap-docs

#226 [Docs] New Page for Visualizer Views
  content/en/meshmap/visualizer/images/ActionsIcon.png
  content/en/meshmap/visualizer/images/DeleteView.png
  content/en/meshmap/visualizer/images/ExportView2.png
  content/en/meshmap/visualizer/images/SaveView.png
  content/en/meshmap/visualizer/images/ShareModal.PNG
  content/en/meshmap/visualizer/images/ShareView.png
  content/en/meshmap/visualizer/images/ViewInfo.png
  content/en/meshmap/visualizer/images/Views.svg
  content/en/meshmap/visualizer/images/Visibility.png
  content/en/meshmap/visualizer/visualizer views.md
Labels: component/meshmap-docs

#228 Add Helm chart configuration options.
  content/en/charts/_index.md
  content/en/cloud/self-hosted/deploy-with-helm.md
  content/en/cloud/self-hosted/helm-chart-values.md
Labels: component/cloud-docs

#234 Created new relationships page
  content/en/meshmap/concepts/relationships/EdgeMountRelationship.svg
  content/en/meshmap/concepts/relationships/EdgeNetworkRelationship.svg
  content/en/meshmap/concepts/relationships/Hierachical_Inventory_Relationships.svg
  content/en/meshmap/concepts/relationships/Hierarchical_Parent_Relationship.svg
  content/en/meshmap/concepts/relationships/edge_firewall_relationship_pod_to_pod.svg
  content/en/meshmap/concepts/relationships/edge_permission_relationship_cluster_role_service_account.svg
  content/en/meshmap/concepts/relationships/index.md
Labels: component/meshmap-docs
