Repository layer5io/docs, pull requests merged in 2024-09, with the labels that each got.

#366 fixed broken images
  content/en/cloud/security/roles/_index.md
Labels: component/cloud-docs

#362 feat: add release path for meshery cloud
  .gitignore
  content/en/cloud/reference/releases/_index.md
  content/en/cloud/reference/releases/v0.8.0-beta.1.md
  content/en/cloud/reference/releases/v0.8.0-beta.2.md
  content/en/cloud/reference/releases/v0.8.0.md
  content/en/cloud/reference/releases/v0.8.1.md
  content/en/cloud/reference/releases/v0.8.2.md
  content/en/cloud/reference/releases/v0.8.3.md
  content/en/cloud/reference/releases/v0.8.4.md
  content/en/cloud/reference/releases/v0.8.5.md
  content/en/cloud/reference/releases/v0.8.6.md
  content/en/cloud/reference/releases/v0.8.7.md
  layouts/release/baseof.html
  layouts/release/list.html
  layouts/release/single.html
  meshery-cloud.version
Labels: component/cloud-docs

#371 backward compatibility: add redirects from meshmap/* to kanvas/*
  content/en/kanvas/_index.md
  content/en/kanvas/concepts/_index.md
  content/en/kanvas/concepts/relationships/index.md
  content/en/kanvas/designer/_index.md
  content/en/kanvas/designer/comments/_index.md
  content/en/kanvas/designer/embedding-designs/index.md
  content/en/kanvas/designer/export-designs/_index.md
  content/en/kanvas/designer/share-resource/_index.md
  content/en/kanvas/designer/tagsets/_index.md
  content/en/kanvas/designer/whiteboarding/_index.md
  content/en/kanvas/getting-started/_index.md
  content/en/kanvas/getting-started/creating-relationships.md
  content/en/kanvas/getting-started/starting-helm.md
  content/en/kanvas/getting-started/starting-pattern.md
  content/en/kanvas/getting-started/starting-scratch.md
  content/en/kanvas/getting-started/working-with-components.md
  content/en/kanvas/reference/_index.md
  content/en/kanvas/reference/contributing-to-docs.md
  content/en/kanvas/reference/keyboard-shortcuts.md
  content/en/kanvas/reference/troubleshooting.md
  content/en/kanvas/tasks/_index.md
  content/en/kanvas/tasks/designs/_index.md
  content/en/kanvas/tasks/designs/cloning-a-design.md
  content/en/kanvas/tasks/designs/deploying-designs.md
  content/en/kanvas/tasks/designs/undeploying-designs.md
  content/en/kanvas/tasks/designs/validating-designs.md
  content/en/kanvas/tasks/whiteboarding.md
  content/en/kanvas/tutorials/_index.md
  content/en/kanvas/tutorials/collaborative-editing.md
  content/en/kanvas/tutorials/publishing-to-catalog.md
  content/en/kanvas/visualizer/_index.md
  content/en/kanvas/visualizer/visualizer views.md
Labels: component/kanvas-docs

#372 ci(cloude-release): add repository workflow for cloud release
  .github/workflows/cloud-release-docs.yml
  build/meshery-cloud.version
  meshery-cloud.version
Labels: component/cloud-docs, component/kanvas-doc
