Repository layer5io/docs, pull requests merged in 2024-06, with the labels that each got.

#255 Update docs for cloud deployment using `helm`.
  content/en/cloud/self-hosted/deploy-with-helm.md
Labels: component/cloud-docs

#270 [Docs] Custom Branding
  content/en/charts/_index.md
  content/en/cloud/self-hosted/_index.md
  content/en/cloud/self-hosted/deployment/_index.md
  content/en/cloud/self-hosted/deployment/helm-chart-values.md
  content/en/cloud/self-hosted/white-labeling/_index.md
  content/en/cloud/self-hosted/white-labeling/images/white-label-catalog-example.png
  content/en/cloud/self-hosted/white-labeling/images/white-label-dashboard-example.png
  content/en/cloud/self-hosted/white-labeling/images/white-label-dashboard-responsive-example.png
  content/en/cloud/self-hosted/white-labeling/images/white-label-login-screen-example.png
Labels: area/docs, area/lifecycle

#272 [Docs] Planning
  README.md
  content/en/cloud/identity/users/_index.md
  content/en/cloud/self-hosted/_index.md
  content/en/cloud/self-hosted/deployment/_index.md
  content/en/cloud/self-hosted/planning/_index.md
  content/en/cloud/self-hosted/planning/identity-services.md
  content/en/cloud/self-hosted/planning/images/meshmap-collaboration-networking.svg
  content/en/cloud/self-hosted/planning/images/self-hosted-deployment.svg
  content/en/cloud/self-hosted/planning/peer-to-peer-communication.md
Labels: component/cloud-docs

#273 addition of more information in white labelling
  content/en/cloud/self-hosted/white-labeling/_index.md
  content/en/cloud/self-hosted/white-labeling/images/pref-selection.gif
Labels: component/cloud-docs

#254 Add new page for webhooks
  content/en/cloud/self-hosted/customizing-webhooks.md
Labels: component/cloud-docs

#276 Update customize webhook page
  content/en/cloud/self-hosted/customizing-webhooks.md
Labels: component/cloud-docs

#282 Metrics Docs added
  content/en/cloud/catalog/images/cards.png
  content/en/cloud/catalog/images/modal.png
  content/en/cloud/catalog/metrics.md
Labels: component/cloud-docs

#285 Leaderbord docs added
  content/en/cloud/catalog/images/leaderboard.png
  content/en/cloud/catalog/images/leaderboard_button.png
  content/en/cloud/catalog/images/view_leaderboard.png
  content/en/cloud/catalog/leaderboard.md
Labels: component/cloud-docs

#287 chore: contrib to docs move
  content/en/meshmap/reference/contributing-to-docs.md
Labels: component/meshmap-docs

#294 Responsive helm values table branch
  content/en/cloud/self-hosted/deployment/helm-chart-values.md
Labels: component/cloud-docs

#296 Customizing your Organization’s Dashboard
  content/en/cloud/self-hosted/white-labeling/_index.md
  content/en/cloud/self-hosted/white-labeling/images/custom-dashboard-1.png
  content/en/cloud/self-hosted/white-labeling/images/custom-dashboard-2.png
  content/en/cloud/self-hosted/white-labeling/images/custom-dashboard-3.png
Labels: component/cloud-docs

#301 [Fix] add max-width to columns and shift style to scss file
  assets/scss/_content_project.scss
  content/en/cloud/self-hosted/deployment/helm-chart-values.md
Labels: component/cloud-docs

#302 TagSets exmaple added
  content/en/meshmap/concepts/relationships/index.md
  content/en/meshmap/concepts/relationships/tags.png
Labels: component/meshmap-docs

#303 Fixes Text not visible
  content/en/cloud/identity/users/default-permissions.md
Labels: component/cloud-docs
