Repository layer5io/docs, pull requests merged in 2024-05, with the labels that each got.

#250 Tags: grouping by key/value pairs
  content/en/meshmap/designer/tagsets/_index.md
  content/en/meshmap/designer/tagsets/group-components.png
  content/en/meshmap/designer/tagsets/tagsets.gif
Labels: component/meshmap-docs

#251 added project logos to each section
  assets/icons/cloud.svg
  assets/icons/meshery.svg
  assets/icons/meshmap.svg
  assets/scss/_landing_project.scss
  content/en/cloud/_index.md
  content/en/meshmap/_index.md
  layouts/shortcodes/svg.html
Labels: component/cloud-docs, component/meshmap-docs

#256 fixed & updated the embeded design
  content/en/meshmap/designer/embedding-designs/index.md
  content/en/meshmap/designer/export-designs/embedded-design-mongo_configuration_using_configmap.js
Labels: component/meshmap-docs

#259 [Build] Failure: missing google_analytics_async.html
  layouts/partials/head.html
Labels: area/ci
