Repository layer5io/docs, pull requests merged in 2024-08, with the labels that each got.

#330 Added Integrating Github with Meshery to layer5 docs
  content/en/cloud/getting-started/github-integration.md
  content/en/cloud/getting-started/images/github/add_repo.png
  content/en/cloud/getting-started/images/github/add_workflows.png
  content/en/cloud/getting-started/images/github/authorize.png
  content/en/cloud/getting-started/images/github/catalog.png
  content/en/cloud/getting-started/images/github/configure_secrets.png
  content/en/cloud/getting-started/images/github/connections.png
  content/en/cloud/getting-started/images/github/dashboard.png
  content/en/cloud/getting-started/images/github/delete_connection.png
  content/en/cloud/getting-started/images/github/extensions.png
  content/en/cloud/getting-started/images/github/finish.png
  content/en/cloud/getting-started/images/github/github.png
  content/en/cloud/getting-started/images/github/install_meshery.png
  content/en/cloud/getting-started/images/github/integrations.png
  content/en/cloud/getting-started/images/github/select-repo.png
  content/en/cloud/getting-started/images/github/select_connection.png
  content/en/cloud/getting-started/images/github/select_design.png
  content/en/cloud/getting-started/images/github/select_file.png
  content/en/cloud/getting-started/images/github/show_all_files.png
  content/en/cloud/getting-started/images/github/spaces.png
  content/en/cloud/getting-started/images/github/workflow_exists.png
Labels: component/cloud-docs

#337 [Docs] Add tips and trick: How to animate edges in Meshery Designs
  content/en/cloud/security/roles/_index.md
  content/en/meshmap/designer/whiteboarding/_index.md
  layouts/shortcodes/csvtable-roles.html
Labels: component/cloud-docs, component/meshmap-docs

#342 chore: Fix typo in gitops-snapshots.md
  content/en/cloud/tutorials/gitops-snapshots.md
Labels: component/cloud-docs

#349 Fix Broken hyperlink - embedding designs Issue#343
  content/en/meshmap/designer/export-designs/_index.md
Labels: component/meshmap-docs

#350 add missing docs for Deploy Designs
  content/en/meshmap/getting-started/images/deploy-designs/action.png
  content/en/meshmap/getting-started/images/deploy-designs/empty-ls.png
  content/en/meshmap/getting-started/images/deploy-designs/error-code.png
  content/en/meshmap/getting-started/images/deploy-designs/missing-ns.png
  content/en/meshmap/getting-started/images/deploy-designs/notification-center.png
  content/en/meshmap/getting-started/images/deploy-designs/notification.png
  content/en/meshmap/getting-started/images/deploy-designs/performing-validation.png
  content/en/meshmap/getting-started/images/deploy-designs/success-deploy.png
  content/en/meshmap/getting-started/images/deploy-designs/successful-validation.png
  content/en/meshmap/tasks/designs/deploying-designs.md
Labels: component/meshmap-docs

#347 broken link updated
  content/en/meshmap/reference/contributing-to-docs.md
Labels: component/meshmap-docs
