Repository layer5io/docs, pull requests merged in 2025-04, with the labels that each got.

#474 update with resources
  assets/scss/_landing_project.scss
  content/en/_index.md
  static/images/logos/challenges.svg
  static/images/logos/learning-path.svg
Labels: component/cloud-docs, component/kanvas-doc

#477 docs: update account deletion and linking behavior
  content/en/cloud/identity/users/_index.md
Labels: component/cloud-docs, component/kanvas-doc

#481 docs: move known issue note to info alert in user deletion section
  content/en/cloud/identity/users/_index.md
Labels: component/cloud-docs, component/kanvas-doc

#482 Documentation update for exporting designs as helm charts
  content/en/kanvas/designer/export-designs/export-modal-new.png
  content/en/kanvas/designer/export-designs/index.md
Labels: component/cloud-docs, component/kanvas-doc

#483 Make relationships page a draft
  content/en/cloud/concepts/_index.md
Labels: component/cloud-docs, component/kanvas-doc

#475 [Docs] Changed Connector tool mode to Pen tool mode
  content/en/kanvas/designer/understanding-tool-modes/customize_end.gif
  content/en/kanvas/designer/understanding-tool-modes/draw_line.gif
  content/en/kanvas/designer/understanding-tool-modes/index.md
Labels: component/cloud-docs, component/kanvas-doc

#461 enhance whiteboarding page with copy, paste and delete details
  .gitignore
  content/en/kanvas/tasks/whiteboarding.md
Labels: component/cloud-docs, component/kanvas-doc

#485 Draft: Update creating-relationships.md
  content/en/kanvas/getting-started/creating-relationships.md
Labels: component/cloud-docs, component/kanvas-doc

#484 Update netlify.toml
  netlify.toml
Labels: component/cloud-docs, component/kanvas-doc

#465 Fix: More on-screen slides in carousel
  layouts/partials/video-section-related.html
Labels: component/cloud-docs, component/kanvas-doc

#487 Enhance design reviews doc
  assets/scss/_styles_project.scss
  content/en/kanvas/designer/comments/index.md
Labels: component/cloud-docs, component/kanvas-doc

#490 add content to getting started with relationships
  content/en/kanvas/getting-started/creating-relationships.md
  content/en/kanvas/getting-started/images/relationships/EdgeNetwork.gif
  content/en/kanvas/getting-started/images/relationships/create-inventory-wallet.gif
  content/en/kanvas/getting-started/images/relationships/create-matchlabels.gif
  content/en/kanvas/getting-started/images/relationships/create-parent-child.gif
  content/en/kanvas/getting-started/images/relationships/delete-edge.gif
  content/en/kanvas/getting-started/images/relationships/delete-parent-child.gif
  content/en/kanvas/getting-started/images/relationships/layers-panel-relationships.gif
Labels: component/cloud-docs, component/kanvas-doc

#492 Sharing Designs: Views
  content/en/kanvas/designer/sharing/index.md
  content/en/kanvas/operator/views.md
Labels: component/cloud-docs, component/kanvas-doc

#495 Feat: Footnotes
  assets/scss/_content_project.scss
  content/en/kanvas/designer/sharing/index.md
  content/en/kanvas/reference/contributing-to-docs.md
  hugo.toml
Labels: component/cloud-docs, component/kanvas-doc

#499 Fix: Spacing in Carousal in Mobile View
  layouts/partials/video-section-related.html
Labels: component/cloud-docs, component/kanvas-doc

#502 CI: Fixing misspelled label; inconsistent with sibling labels
  .github/labeler.yml
Labels: component/cloud-docs, component/kanvas-doc

#494 Enhance Export Designs Docs: Updated Format Guide, GIF, and FAQ
  content/en/kanvas/designer/export-designs/export-modal-new.png
  content/en/kanvas/designer/export-designs/export-modal.gif
  content/en/kanvas/designer/export-designs/export-modal.png
  content/en/kanvas/designer/export-designs/index.md
Labels: component/cloud-docs, component/kanvas-docs, component/kanvas-doc

#489 docs: improve image customization guidance and clean up broken links
  content/en/kanvas/reference/contributing-to-docs.md
Labels: component/cloud-docs, component/kanvas-docs, component/kanvas-doc

#506 fix: correct default title behavior in alert component when only color is provided
  layouts/shortcodes/alert.html
Labels: component/cloud-docs, component/kanvas-docs
