Repository layer5io/docs, pull requests merged in 2025-05, with the labels that each got.

#525 leecalcote/videos/landing
  assets/icons/puzzle-pieces.svg
  assets/scss/video-landing.scss
  content/en/videos/_index.md
  content/en/videos/integrations/_index.md
  content/en/videos/integrations/aws/_index.md
  content/en/videos/integrations/aws/kanvas-birth.md
  content/en/videos/integrations/aws/meshery-teaser.md
  content/en/videos/integrations/kubernetes/_index.md
  content/en/videos/integrations/kubernetes/kanvas-birth copy.md
  content/en/videos/integrations/kubernetes/kanvas-birth.md
  content/en/videos/integrations/onboarding/_index.md
  content/en/videos/integrations/onboarding/video-1.md
  content/en/videos/integrations/onboarding/video-2.md
  content/en/videos/integrations/onboarding/video-3.md
  content/en/videos/product/_index.md
  content/en/videos/product/kanvas/_index.md
  content/en/videos/product/meshery/_index.md
  layouts/partials/video-landing-page.html
  layouts/video/video.html
Labels: component/cloud-docs, component/kanvas-docs

#526 Refactor SCSS and HTML for improved layout and styling consistency
  assets/scss/_landing_project.scss
  assets/scss/_nav.scss
  content/en/cloud/_index.md
  content/en/cloud/test.html
  content/en/kanvas/_index.md
  content/en/videos/_index.md
  content/en/videos/features/_index.md
  content/en/videos/getting-started/_index.md
  layouts/partials/navbar.html
Labels: component/cloud-docs, component/kanvas-docs

#523 Fix: Enforce consistent, responsive `<figure>` styling to match markdown image behavior
  assets/scss/_styles_project.scss
  content/en/kanvas/advanced/performance/index.md
  content/en/kanvas/reference/contributing-to-docs.md
  layouts/_default/_markup/render-image.html
Labels: component/cloud-docs, component/kanvas-docs

#529 Update Kanvas logo and remove unused test.html file
  content/en/_index.md
  content/en/cloud/_index.md
  content/en/cloud/test.html
  content/en/kanvas/_index.md
  content/en/kanvas/reference/contributing-to-docs.md
  layouts/partials/navbar.html
  static/images/logos/kanvas-icon-color.svg
Labels: component/cloud-docs, component/kanvas-docs

#532 Peer reviews
  content/en/kanvas/designer/comments/example-notification-email.png
  content/en/kanvas/designer/comments/index.md
Labels: component/cloud-docs, component/kanvas-docs

#534 support non-bootstrap local icons
  layouts/partials/video-landing-page.html
Labels: component/cloud-docs, component/kanvas-docs

#535 Add design review video
  content/en/videos/getting-started/comments/adding-cm4.md
Labels: component/cloud-docs, component/kanvas-docs

#533 Fix image scaling and align figcaption width to image
  assets/scss/_styles_project.scss
Labels: area/docs, component/cloud-docs, component/kanvas-docs

#531 Add documentation for comment cloning
  content/en/kanvas/designer/comments/comment-copy.gif
  content/en/kanvas/designer/comments/index.md
Labels: component/cloud-docs, component/kanvas-docs

#537 Video: Enhance landing page modal
  assets/scss/_styles_project.scss
  assets/scss/_variables_project.scss
  assets/scss/_video-landing_project.scss
  assets/scss/_videos_project.scss
  layouts/partials/video-landing-page.html
Labels: component/cloud-docs, component/kanvas-docs

#538 update for /videos
  assets/scss/_video-landing_project.scss
  layouts/partials/video-landing-page.html
  layouts/video/video.html
Labels: component/cloud-docs, component/kanvas-docs

#540 chore: use SCSS variables for colors and fix related videos on docs pages
  assets/scss/_video-landing_project.scss
  assets/scss/_videos_project.scss
  layouts/docs/list.html
  layouts/docs/single.html
Labels: component/cloud-docs, component/kanvas-docs

#542 Run slack notifier when "good first issue" label is added.
  .github/workflows/slack.yml
Labels: component/cloud-docs, component/kanvas-docs

#507 added meshery extension org help wanted issues to label
  README.md
Labels: component/cloud-docs, component/kanvas-docs

#520 Create contributing video guide
  content/en/contributing/_index.md
  content/en/contributing/contributing-to-docs.md
  content/en/contributing/contributing-to-video-gallary.md
  content/en/videos/template-category/_index.md
  content/en/videos/template-category/sub-category/_index.md
  content/en/videos/template-category/sub-category/video-1.md
  layouts/partials/video-section-index.html
Labels: issue/remind, component/cloud-docs, component/kanvas-docs

#552 Docs: Clarify Workspace rules for Design and Team assignment
  content/en/cloud/spaces/workspaces.md
Labels: component/cloud-docs, component/kanvas-docs

#553 Docs: Move Benefits to top on of Relationships page
  content/en/kanvas/getting-started/creating-relationships.md
Labels: component/cloud-docs, component/kanvas-docs

#551 Style: Responsive Images/Figures & SCSS/Content Cleanup
  assets/scss/_styles_project.scss
  content/en/kanvas/advanced/performance/index.md
  content/en/kanvas/designer/comments/index.md
Labels: area/docs, component/cloud-docs, component/kanvas-docs

#557 fixed big icon issue
  layouts/partials/navbar.html
Labels: component/cloud-docs, component/kanvas-docs

#564 Docs: Introduce 'render=full' URL parameter for detailed design rendering
  content/en/kanvas/advanced/url-parameters/index.md
  content/en/kanvas/advanced/url-parameters/no-tagsets.png
  content/en/kanvas/advanced/url-parameters/with-tagsets.png
Labels: component/cloud-docs, component/kanvas-docs

#554 Docs: Update and clarify Sharing Designs page
  content/en/kanvas/designer/sharing/index.md
  content/en/kanvas/designer/sharing/model-where.gif
  content/en/kanvas/designer/sharing/share-model.png
Labels: component/cloud-docs, component/kanvas-docs

#568 Docs: Add Bluesky icon and link to footer in hugo.toml
  assets/icons/bluesky.svg
  hugo.toml
Labels: component/cloud-docs, component/kanvas-docs

#570 chore: silence auth flow control error logs
  layouts/partials/navbar.html
Labels: component/cloud-docs, component/kanvas-docs

#572 fix dropdown behavior to ensure only one menu is open at a time
  layouts/partials/navbar.html
Labels: component/cloud-docs, component/kanvas-docs

#566 add resources nav-item to contain resources and videos as row
  assets/scss/_navbar_project.scss
  layouts/partials/navbar.html
  static/images/academy-icon.svg
  static/images/video-play.svg
Labels: component/cloud-docs, component/kanvas-docs

#574 chore: replace card
  assets/scss/_landing_project.scss
  content/en/_index.md
Labels: component/cloud-docs, component/kanvas-docs

#575 revert back resources dropdown-menu to column direction
  assets/scss/_navbar_project.scss
  layouts/partials/navbar.html
Labels: component/cloud-docs, component/kanvas-docs

#501 Sharing Designs: Assigning Teams to Workspaces
  content/en/kanvas/designer/sharing/index.md
Labels: component/cloud-docs, component/kanvas-docs

#505 contrib guide: broken links and release versioning
  content/en/contributing/contributing-to-docs.md
Labels: component/cloud-docs, component/kanvas-docs

#503 Getting Started: Importing Designs
  content/en/kanvas/getting-started/images/importing-designs/drag-and-drop-design-into-kanvas.png
  content/en/kanvas/getting-started/images/importing-designs/import-a-design-layer5-cloud.png
  content/en/kanvas/getting-started/starting-helm.md
Labels: component/cloud-docs, component/kanvas-docs

#569 Add "Open Team Invite" section to Teams documentation
  content/en/cloud/identity/teams/_index.md
  content/en/cloud/identity/teams/open_team_invite.gif
Labels: component/cloud-docs, component/kanvas-docs

#577 Docs: Added the service status in footer
  assets/scss/_footer_project.scss
  layouts/partials/footer.html
Labels: component/cloud-docs, component/kanvas-docs

#584 Menu: New Resources drowndown menu arrow
  assets/scss/_navbar_project.scss
  layouts/partials/navbar.html
Labels: component/cloud-docs, component/kanvas-docs

#586 Not "Google Docs", but "Google Workspace"
  content/en/kanvas/_index.md
Labels: component/cloud-docs, component/kanvas-docs
